<h1> Goodbye </h1>
<h2> A program to bid our friends farewell all over the world. </h2>

<ul>
  <li> English: Goodbye, friends! </li>
  <li> Spanish:  Adios, amigos! </li>
  <li> Portland: Peace Yo, Homies! </li>
  <li> California: Check ya Later, Peeps! </li>
</ul>
